{% extends 'admin/layoutAdmin.html' %}

{% block cambioAdmin %}
<section class="py-5 text-center " style="background-color: beige;">

    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"> <strong>¡Bienvenido a Farmacias Amixes!</strong> </h1>
        <p><strong>Querido equipo de administración,</strong></p>
        <p>En nombre de <em>Farmacias Amixes</em>, quiero expresar mi más sincero agradecimiento por su arduo trabajo y
            dedicación en la gestión eficiente de nuestros recursos y operaciones diarias. Como columna vertebral de
            nuestra empresa, su labor incansable garantiza que nuestras operaciones funcionen sin problemas,
            permitiéndonos brindar un servicio excepcional a nuestros clientes.</p>
        <p>Su <u>capacidad para mantener el orden y la eficiencia en cada aspecto de la administración</u> es
            verdaderamente admirable. Desde la gestión de inventario hasta la contabilidad y la atención al cliente,
            vuestro compromiso con la excelencia es evidente en cada tarea que realizáis.</p>
        <p>Gracias por ser un equipo en el que siempre podemos confiar. Vuestra <em>dedicación y profesionalismo</em>
            son invaluables para el éxito continuo de Farmacias Amixes. Seguimos comprometidos en brindar el apoyo
            necesario para que podáis realizar vuestro trabajo de manera efectiva y para fomentar un ambiente de
            colaboración y crecimiento continuo.</p>
        <p><strong>Juntos, estamos construyendo un futuro brillante para nuestra empresa.</strong> Sigamos trabajando
            unidos para alcanzar nuevas alturas y lograr nuestros objetivos comunes.</p>
        <p>Con gratitud y aprecio, Farmacias Amixes</p>
        
    </div>
</section>

{% endblock %}